/* global setting */
body {
    background: #173F5A;
}

h1, h2, h3, h4, h5, p, div {
    color: #ffffff;
}

/* End of global setting */

/* header setting */

.bg-logo {
    background: #292a44;
}

.navbar-dark .navbar-nav .nav-link
{
    color: rgba(255,255,255,.8)
}

.navbar-toggler {
    outline: none !important;
    border: none !important;
}

/* End of header setting */

.table-body td {
    text-align: left;
}

.mainNews_btn {
    font-size: 1.5vw;
}

/* footer setting */

.footer {
    background: #f9f9f9;
}


/* End of footer setting */

.table-header th {
    cursor: pointer;
}

.table-header th:hover {
    background: #161C1F
}


/* media max width setting */
@media (max-width: 1199.98px) {
    .table-mainHeader th {
        font-size: 1.5vw;
    }
    .table-header th {
        font-size: 1.2vw;
    }
    .table-body td {
        font-size: 1.2vw;
        text-align: left;
    }
    .showcase_heading {
        font-size: 2vw;
    }
}

@media (max-width: 991.98px) {
    .table-header th {
        padding: 7px;
    }
    .showcase_heading {
        font-size: 2.5vw;
    }
}

@media (max-width: 49em) {
    .showcase_heading {
        font-size: 3vw;
    }

    .table-header th {
        font-size: 1.5vw;
        padding: 5px;
    }
    .table-body td {
        font-size: 1.5vw;
    }
    .mainNews_btn {
        border-width: 0.5px !important;
    }
}

@media (max-width: 575.98px) {
    .showcase_heading {
        font-size: 4vw;
    }
    .table-mainHeader th {
        font-size: 3vw;
    }
    .table-header th {
        font-size: 3vw;
    }
    .table-body td {
        font-size: 3vw;
    }
}

/* end of max width media */


/* media min width setting */
@media (min-width: 320px) {
    .btn-showcase-mt-neg {
        margin-top: -45px;
        justify-content: center;
    }

    .btn-responsive-padding {
        padding: .250rem .50rem;
    }
}


@media (min-width: 576px) {
    .btn-showcase-mt-neg {
        margin-top: -60px;
        justify-content: center;
    }
    }

@media (min-width: 768px) {
.btn-showcase-mt-neg {
    margin-top: -80px;
    justify-content: center;
}
}

@media (min-width: 992px) {
    .btn-showcase-mt-neg {
        margin-top: -100px;
        justify-content: center;
    }
    }

.wt-in {
    width: inherit;
}

.empty {
    height: 40vh;
}

.rem-pad {
    padding: 0;
}

.text-white {
    color: #fff;
}


/* End of common sizing setting */


/* button setting */

.btn-style {
    align-items: center;
    justify-content: center;
}

.btn-news {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.btn-news:hover {
    background: #333;
}


/* End of button setting */


/* carousel style setting */

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-item {
    max-height: 350px;
}

.circle-dot {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}