/* global setting */
/* body {
    background: #173F5A;
} */

@mixin yellowTitle()
{
  background-color: #E0A800 !important; 
  color: #212529;
}

.mainHeading
{
    margin: 20px 20px 20px 0; 
}

.btn-home
{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  @include yellowTitle();
}

.table-mainHeader
{
  @include yellowTitle();
}

/* h1, h2, h3, h4, h5, p, div, 
.navbar-dark .navbar-nav .nav-link
{
    color: rgba(255,255,255,.8)
} */
/* End of global setting */

/* Pseudo setting */
.card-main .card-link::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: initial;
}

/* .card-text:hover 
{
    color: red !important;
    z-index: 1;
} */

/* End of Pseudo setting */

/* header setting */

.bg-logo {
    background: #161B22; 
}

.navbar-toggler {
    outline: none !important;
    border: none !important;
}

/* End of header setting */

.table-body td {
    text-align: left;
}

.table td, .table th 
{
    max-width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: .5rem;
}

/* footer setting */

.footer {
    background: #f9f9f9;
}


/* End of footer setting */

.table-header 
{
    th {
    cursor: pointer;
    }
    th:hover {
    background: #161C1F;
    }
}

.article-img
{
    max-width: 500px;
}

/* media max width setting */
@media (max-width: 1199.98px) {
    .table-body td {
        text-align: left;
    }
}

@media (max-width: 991.98px) {
    .table-header th {
        padding: 7px;
    }
}

@media (max-width: 49em) {
    .table-header th {
        padding: 5px;
    }
    .mainNews_btn {
        border-width: 0.5px !important;
    }
    .card-body .card-text {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .mainNews_btn {
        padding: .375rem .75rem;
        font-size: 1rem;
        margin: 0 2px;
   }
    .card-main {
        flex-direction: column !important;
    }
}

@media (max-width: 650px) {
    .mainNews_btn {
        padding: .375rem .75rem;
   }
}

@media (max-width: 575.98px) {
    .mainNews_btn {
        padding: .25rem .5rem;
        font-size: .875rem;
   }
    .article-img
    {
        max-width: 300px;
    }
}
/* end of max width media */

/* media min width setting */
@media (min-width: 320px) {
    .btn-showcase-mt-neg {
        margin-top: -45px;
        justify-content: center;
    }

    .btn-responsive-padding {
        padding: .250rem .50rem;
    }
}


@media (min-width: 576px) {
    .btn-showcase-mt-neg {
        margin-top: -60px;
        justify-content: center;
    }
    }

@media (min-width: 768px) {
.btn-showcase-mt-neg {
    margin-top: -80px;
    justify-content: center;
}
}

@media (min-width: 992px) {
    .btn-showcase-mt-neg {
        margin-top: -100px;
        justify-content: center;
    }
    }

.wt-in {
    width: inherit;
}

.empty {
    height: 40vh;
}

.rem-pad {
    padding: 0 !important;
}

.text-white {
    color: #fff;
}


/* End of common sizing setting */


/* button setting */

.btn-style {
    align-items: center;
    justify-content: center;
}

/* .btn-news {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
} */

.btn-news:hover {
    filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* End of button setting */


/* carousel style setting */

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-item {
    max-height: 350px;
}

.circle-dot {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}